* {
    margin: 0;
    padding: 0;
    font-family: 'Architects Daughter', cursive, Arial, Helvetica, sans-serif;
}

body {
    background-color: blanchedalmond;
}

header {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
}
label {
    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;

}

select {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.play {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1em;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 520px;
}

.cell {
    background-color: brown;
    border: 1px solid black;
    height: 50px;
    width: 50px;
}

.insane {
    height: 64px;
    width: 64px;
}
.hard {
    height: 55px;
    width: 55px;
}

.clicked {
    background-color: blue;
}